<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="dashboard/home" class="site_title"><i class="fa fa-cloud"></i> <span>MST Online Academy</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{identity.currentUser.username}}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3 ng-switch="identity.currentUser.role_id">
                    <span ng-switch-when="1">Administrator</span>
                    <span ng-switch-when="2">Mentor</span>
                    <span ng-switch-default>Student</span>
                </h3>
                <ul class="nav side-menu" ng-if="identity.currentUser.role_id == '1'" ng-init="active = 'home'">
                    <li ng-class="{'current-page': active === 'home'}" ng-click="active = 'home'"><a href="dashboard/home"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li ng-class="{'current-page': active === 'courses'}" ng-click="active = 'courses'"><a href="dashboard/courses/list"><i class="fa fa-newspaper-o"></i> Course configuration</a></li>
                    <li ng-class="{'current-page': active === 'mentors'}" ng-click="active = 'mentors'"><a href="dashboard/mentors/list"><i class="fa fa-user"></i> Mentor configuration</a></li>
                    <li ng-class="{'current-page': active === 'students'}" ng-click="active = 'students'"><a href="dashboard/students/list"><i class="fa fa-graduation-cap"></i> Student configuration</a></li>
                </ul>
                <ul class="nav side-menu" ng-if="identity.currentUser.role_id == '2'" ng-init="active = 'home'">
                    <li ng-class="{'current-page': active === 'home'}" ng-click="active = 'home'"><a href="dashboard/home"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li ng-class="{'current-page': active === 'students'}" ng-click="active = 'students'"><a href="dashboard/students/list"><i class="fa fa-graduation-cap"></i> Students list</a></li>
                </ul>
                <ul class="nav side-menu" ng-if="identity.currentUser.role_id == '3' && identity.currentUser.studentinfo.payment__c" ng-init="active = 'profile'">
                    <li ng-class="{'current-page': active === 'profile'}" ng-click="active = 'profile'"><a href="dashboard/profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li ng-class="{'current-page': active === 'sessions'}" ng-click="active = 'sessions'"><a href="dashboard/sessions"><i class="fa fa-calendar"></i> Sessions</a></li>
                </ul>
                <ul class="nav side-menu" ng-if="identity.currentUser.role_id == '3' && !identity.currentUser.studentinfo.payment__c">
                    <li class="current-page"><a href="dashboard/papers/list"><i class="fa fa-file-text-o"></i> Paper Selection</a></li>
                </ul>
            </div>

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a href="" data-toggle="tooltip"  ng-click="signout()" data-placement="top" title="" data-original-title="Logout" class="pull-right">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>

