<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="dashboard/home" class="site_title"><i class="fa fa-paw"></i> <span>MST Online Academy!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{identity.currentUser.username}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                  <li class=""><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" ng-if="identity.currentUser.role_id == '1'">
                      <li><a href="dashboard/home">Dashboard</a></li>
                      <li><a href="dashboard/profile">Profile</a></li>
                      <li><a href="dashboard/studentlist">Student List</a></li>
                      <li><a href="dashboard/mentors/list">Mentor List</a></li>
                    </ul>
                    <ul class="nav child_menu" ng-if="identity.currentUser.role_id == '2'">
                      <li><a href="dashboard/home">Dashboard</a></li>
                      <li><a href="dashboard/profile">Profile</a></li>
                      <li><a href="dashboard/home">Mentor List</a></li>
                    </ul>
                    <ul class="nav child_menu" ng-if="identity.currentUser.role_id == '3'">
                      <li><a href="dashboard/home">Dashboard</a></li>
                      <li><a href="dashboard/profile">Profile</a></li>
                      <li><a href="dashboard/paperlist">Paper List</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>