<div class="login_wrapper" ng-controller="loginController">
  <div class="animate form login_form">
    <section class="login_content">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <form class="form-horizontal" name="studentLoginForm" role="form" ng-submit="submitForm(studentLoginForm.$valid)" novalidate>
        <h1>Login Form</h1>
        <div class="row">
           <div class="form-group">
       <input type="text" required ng-model="formData.username" name="username" class="form-control" id="username" placeholder="Username">
        <span ng-show="studentLoginForm.username.$dirty && studentLoginForm.username.$error.required" class="help-block">Username is required</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="password" ng-model="formData.password" required class="form-control" id="password" name="password" placeholder="Password">
            <span ng-show="studentLoginForm.password.$dirty && studentLoginForm.password.$error.required" class="help-block">Password is required</span>
          </div>
      </div>

          <div class="row">
            <div class="col-md-12">
           <br />
             <button type="submit" ng-disabled="studentLoginForm.$invalid || dataLoading" class="btn btn-primary">Log In</button>
             <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
       </div>
        <div class="clearfix"></div>

      </form>
    </section>
  </div>
</div>
