<div class="col-md-12 page-content">
    <div class="welcomewrap">
        <div class="contact-page-content">
            <div class="contact-heading">
                <h4 class="classic-title"><span>Contact Us</span></h4>
                <p>Have questions? Feel free to contact us. Our support team is ready for contact.</p>
            </div>
            <div class="contact-form clearfix">
                <p class="full-row">
                    <span class="contact-label">
                        <label for="name-id">First Name:</label>
                    </span>
                    <input type="text" id="name-id" name="name-id">
                </p>
                <p class="full-row">
                    <span class="contact-label">
                        <label for="surname-id">Last Name:</label>
                    </span>
                    <input type="text" id="surname-id" name="surname-id">
                </p>
                <p class="full-row">
                    <span class="contact-label">
                        <label for="email-id">E-mail:</label>
                    </span>
                    <input type="text" id="email-id" name="email-id">
                </p>
                <p class="full-row">
                    <span class="contact-label">
                        <label for="message">Message:</label>
                    </span>
                    <textarea name="message" id="message" rows="6"></textarea>
                </p>
                <p class="full-row">
                    <input class="mainBtn" type="submit" name="" value="Send Message">
                </p>
            </div>
        </div>
    </div>
</div>
