<form ng-init="getDegreeList();" name="Courses" role="form"  novalidate>
	<div class="col-md-8 page-content">
		<div class="welcomewrap">
			<h4 class="classic-title"><span>Find a Course</span></h4><br />
			<div class="search-form-item">
				<label for="desireddegree">Desired Degree :</label>
				<select class="searchselect" ng-change="getDegreeProgram();" ng-options="deglist.degree_id as deglist.degree for deglist in degreelist"  ng-model="registerFormData.desireddegree" id="desireddegree" name="desireddegree" ng-class="errorClass('desireddegree','class')" required>
					<option value="">---Please select---</option>
				</select>
				<p ng-show="errorClass('desireddegree')" class="help-block">Desire degree is required.</p>
			</div>
			<div class="search-form-item">
				<label for="desiredprogramarea">Desired Program area :</label>
				<select class="searchselect" ng-change="getDegreeProgramArea();"  ng-options="degprogram.program_area_id as degprogram.program_area for degprogram in degreeporgramlist"  ng-model="registerFormData.desiredprogramarea" id="desiredprogramarea" name="desiredprogramarea" ng-class="errorClass('desiredprogramarea','class')" required>
					<option value="">---Please select---</option>
				</select>
				<p ng-show="errorClass('desiredprogramarea')" class="help-block">Desired program area is required.</p>
			</div>
			<div class="search-form-item">
				<label for="desiredprogram">Desired Program :</label>
				<select class="searchselect"  ng-change="getCourses();" ng-options="degprgarea.program_code as degprgarea.program for degprgarea in degreeporgramarealist"  ng-model="registerFormData.desiredprogram" id="desiredprogram" name="desiredprogram" ng-class="errorClass('desiredprogram','class')" required>
					<option value="">---Please select---</option>
				</select>
				<p ng-show="errorClass('desiredprogram')" class="help-block">Desired Program is required.</p>
			</div>
			<div >
			<label for="Papers" class="paper">Papers area:</label>
			<ul class="widget-inner">
				<li>
				<span class="level" > Code </span>
					<span >Paper Name</span></li>
				<li  ng-repeat="degprgarea in papers" ng-model="registerFormData.desiredprogramarea" id="desiredprogramarea">
					<span class="level" ng-bind="degprgarea.paper_code"></span>
					<span ng-bind="degprgarea.paper"></span>
					
				</li></ul>
			</div>
			</div>
		</div>
	</div>
</form>