<div class="col-md-8 page-content">
    <div class="bannerwrap">
        <img src="images/slide.jpg" alt="" />
    </div>
    <!-- Classic Heading -->
    <div class="welcomewrap">
        <h4 class="classic-title"><span>Welcome to MST Online Academy</span></h4>
        
        <!-- Some Text -->
            <p>Students commencing university often lack the writing, reading and research skills necessary to complete assessment tasks. These skills need to be developed over time (Veit & Gould  2010).  Learning the skills of note-taking and paraphrasing are vital if students are to avoid plagiarism in their writing. Veit and Gould (2010, p. 158) emphasise the importance of ‘using your own words and your own style’ when paraphrasing. There are many different strategies available to students regarding note-taking and paraphrasing. Veit and Gould (2010) suggest a useful strategy to avoid unintentional plagiarism is to rewrite important information in your own words at the time of reading. Students should remember to always record the full details of sources in their notes. Sources can then be accurately acknowledged in the text and in the list of works cited at the end of their paper.</P> 
			<p>Veit and Gould (2010, p. 158) emphasise the importance of ‘using your own words and your own style’ when paraphrasing. There are many different strategies available to students regarding note-taking and paraphrasing. Veit and Gould (2010) suggest a useful strategy to avoid unintentional plagiarism is to rewrite important information in your own words at the time of reading. Students should remember to always record the full details of sources in their notes. Sources can then be accurately acknowledged in the text and in the list of works cited at the end of their paper.</p> </div>
    <!-- Divider -->
    <div class="hr5" style="margin:30px 0;"></div>
    <!-- <div class="col-md-6 sidebar padleft">
        
        <div class="widget widget-popular-posts">
            <h4>Latest News<span class="head-line"></span></h4>
            <ul>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 sidebar padright">
        
        <div class="widget widget-popular-posts">
            <h4>Events<span class="head-line"></span></h4>
            <ul>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb">
                        <a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
                        <span>Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
     -->
    
</div>