<div class="col-md-12 widget-popular-posts">
	<h2 class="classic-title"><span>Create Account</span></h2>
	<div class="col-md-6">
		<form>
		  <div class="form-group">
			<label for="fname">First Name:</label>
			<input type="text" class="form-control" id="fname" placeholder="Enter First Name">
		  </div>
		  <div class="form-group">
			<label for="lname">Last Name:</label>
			<input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
		  </div>
		  <div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Enter Email">
		  </div>
		  <div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="text" class="form-control" id="phone" placeholder="Enter Phone">
		  </div>
		  <div class="form-group">
			<label for="desireddegree">Desired Degree:</label>
			<select class="form-control" ng-change="getDegreeProgram();" ng-options="deglist.degree_id as deglist.degree for deglist in degreelist"  ng-model="registerFormData.desireddegree" id="desireddegree">
			 	  <option value="">---Please select---</option>
			</select>
		  </div>
	</form></div>
	
	<div class="col-md-6 page-content">
		  <div class="form-group">
			<label for="desiredprogram">Desired Program:</label>
			<select class="form-control" ng-change="getDegreeProgramArea();"  ng-options="degprogram.program_area_id as degprogram.program_area for degprogram in degreeporgramlist"  ng-model="registerFormData.desiredprogram" id="desiredprogram">
			  <option value="">---Please select---</option>
			</select>
		  </div>
		  <div class="form-group">
			<label for="desiredprogramarea">Desired Program area:</label>
			<select class="form-control" ng-options="degprgarea.program_id as degprgarea.program for degprgarea in degreeporgramarealist"  ng-model="registerFormData.desiredprogramarea" id="desiredprogramarea">
			 	<option value="">---Please select---</option>
		  	</select>
		  </div>
		  <div class="form-group">
			<label for="uname">User Name</label>
			<input type="text" class="form-control" id="uname" placeholder="Enter User Name">
		  </div>
		  <div class="form-group">
			<label for="password">Password</label>
			<input type="text" class="form-control" id="password" placeholder="Enter Password">
		  </div>
		  <div class="form-group">
			<label for="cpassword">Confirm Password</label>
			<input type="text" class="form-control" id="cpassword" placeholder="Enter Password Again">
		  </div>
		 
	</div>
	  <div class="col-md-12">
			<div class="form-group">
				<p><input type="checkbox"> Accept terms and conditions, privacy policy</p>
		    </div>
			<div class="btnwrap">
				<button type="submit" class="btn btn-primary">Start Over</button>
				<button type="submit" class="btn btn-primary">Am Done</button>
			</div>
	  </div>
	
</div>