<div class="">
    <div class="row top_tiles"  ng-if="identity.currentUser.role_id == '1'">
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                    <div class="count">{{totalUserCount.studenttotal}}</div>
                    <h3>New Students</h3>
                    <p>Total number of students</p>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-cloud"></i></div>
                    <div class="count"><loading></loading>{{totalUserCount.salesforcetotal}}</div>
                    <h3>Salesforce Users</h3>
                    <p>Total number of salesforce users</p>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <div class="count"><loading></loading>{{totalUserCount.mentortotal}}</div>
                    <h3>Mentors</h3>
                    <p>Total number of mentors</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row top_tiles"  ng-if="identity.currentUser.role_id == '2'">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-file-text-o"></i></div>
                    <div class="count">{{totalUserCount.papertotal}}</div>
                    <h3><ng-pluralize count="totalUserCount.papertotal" when="{'1': 'Paper', 'other': 'Papers'}"></ng-pluralize></h3>
                    <p>Number of papers you are mentoring</p>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <div class="count"><loading></loading>{{totalUserCount.mentoringstudentstotal}}</div>
                    <h3><ng-pluralize count="totalUserCount.studentstotal" when="{'1': 'Student', 'other': 'Students'}"></ng-pluralize></h3>
                    <p>Number of students you are mentoring</p>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-trophy"></i></div>
                    <div class="count"><loading></loading>{{(100 * totalUserCount.mentoringstudentstotal / totalUserCount.studentstotal) | number:0}}%</div>
                    <h3>Percentage</h3>
                    <p>Your mentoring contribution</p>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div ng-if="loading" style="min-height:40px;margin:20px;text-align:center;"><loading></loading></div>
                <div ng-if="!loading">
                    <div class="icon"><i class="fa fa-dollar"></i></div>
                    <div class="count"><loading></loading>{{(totalUserCount.papercosttotal * totalUserCount.mentoringstudentstotal) | currency}}</div>
                    <h3>Earnings</h3>
                    <p>Your income from mentoring</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Upcoming Sessions </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>
            </div>
        </div>
        <div class="{{identity.currentUser.role_id == 1 ?'col-md-4 col-sm-4':'col-md-8 col-sm-8'}} col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Revenue from Students</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" ng-if="identity.currentUser.role_id == 1">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Top Mentors</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>
            </div>
        </div>
    </div>
</div>
