<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Schedule<small></small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" ng-controller="MentorsCtrl">

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" ng-if="successMentorSession == true">
                            <strong>Success!</strong> {{status}}
                        </div>
                    </div>
                </div>

                <form id="addMentorSessionForm" ng-init="getPaperListMentor();" class="form-horizontal form-label-left" ng-submit="addMentorSession()">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="paper-id">Paper Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12"><loading></loading>
                            <select class="form-control" ng-options="paperlist.paper_id as paperlist.paper for paperlist in paperlistmentor"  ng-model="sessionObj.paperId" id="paper-id" name="paper-id" required>
                                <option value="">---Please select---</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="session-name">Session Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" ng-model="sessionObj.SessionName" id="session-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Session Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="session-date" ng-model="sessionObj.Date" class="date-picker form-control col-md-7 col-xs-12" required="required" type="date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Invite URL</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="session-url" ng-model="sessionObj.joinUrl" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="reset" id="ClearForm" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- <script>
  $('#session-date').datepicker({
  });
</script> -->